
label {
  display: inline-block;
  clear: left;
  width: 100px;
  text-align: left;
  font-size: large;
  margin-left: 20px;
}

input, select {
  display: inline-block;
  width: 200px;
  margin-top: 10px;
}

h1,h3,h4 {
  margin-left: 20px;
}

button {
  margin-top: 20px;
  margin-left:120px;
  width: 200px;
}

li {
  list-style: none;
  margin-left: 0px;
  border: 1px solid black;
  margin-bottom: 5px;
  
}

ul li h4, p {
  margin-left: 5px;

}

ul {
  padding-inline-start: 20px;
}




